$prefix: 'common';

.#{$prefix}-appBar {
	height: $common-app-bar-height;
	line-height: $common-app-bar-height;
	position: relative;
	z-index: $z-index-app-bar;

	&_title {
		text-align: center;
	}
	&_itemsLayout {
		bottom: 0;
		position: absolute;
		right: 5vw;
		top: 0;
	}
}
