$prefix: 'common';

.#{$prefix}-navigationBar {
	height: 10vh;
	line-height: 10vh;
	position: relative;

	&_title {
		text-align: center;
	}
	&_itemsLayout {
		bottom: 0;
		position: absolute;
		right: 5vw;
		top: 0;
	}
}
