$prefix: 'common';

.#{$prefix}-tab {
	transition: $page-background-transition;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&_itemsLayout {
		display: flex;
		position: relative;
		z-index: $z-index-tab;
	}
	&_pageLayout {
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;

		bottom: 0;
		left: 0;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		top: $common-tab-item-height;
	}
}
.#{$prefix}-tabItem {
	position: relative;
	width: 50%;

	&:before {
		background-color: white;
		bottom: 0;
		content: '';
		display: block;
		height: 2px;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
	}

	&_button {
		display: block;
		line-height: $common-tab-item-height;
		opacity: 0.7;
		text-align: center;
		width: 100%;

		&:active {
			background-color: rgba(white, 0.1);
		}
	}
	&#{&}-active &_button {
		opacity: 1;
	}
	&#{&}-active:before {
		opacity: 1;
	}
}
.#{$prefix}-tabPage {
	display: none;

	&#{&}-active {
		display: block;
	}
}
