$prefix: 'calc';

.#{$prefix}-buttonGrid {
	display: flex;
	flex-wrap: wrap;

	&_buttonLayout {
		box-sizing: border-box;
		flex-basis: calc(25% - 1px);

		&:nth-child(4n + 2),
		&:nth-child(4n + 3),
		&:nth-child(4n + 4) {
			margin-left: 1px;
		}
		&:nth-child(n + 5) {
			margin-top: 1px;
		}
	}
	&_button {
		background-color: #222;
		color: white;
		display: block;
		height: 100%;
		padding: 32px;
		width: 100%;
	}
}
