$prefix: 'calc';

html.#{$prefix} {
	&, & body {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
	}
}

.#{$prefix}-page {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&_innerLayout {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&_displayLayout {
		flex-grow: 1;
		position: relative;
	}
	&_menuLayout {
		bottom: 1vh;
		left: 0;
		position: absolute;
		right: 0;
	}
	&_gridLayout {
		margin-bottom: env(safe-area-inset-bottom);
	}
}
