$prefix: 'setting';

.#{$prefix}-aboutPage {
	padding: 8vw;

	&_section {
		& + & {
			margin-top: 2rem;
		}
	}
	&_title {
	}
	&_detail {
		opacity: 0.5;
		line-height: 1.5;
		margin-top: 0.5em;

		p + p {
			margin-top: 0.5em;
		}
	}
}
