$prefix: 'setting';

.#{$prefix}-themeList {
	padding: 4vw;
}
.#{$prefix}-themeListItem {
	display: inline-block;
	width: 50%;

	&_previewLayout {
		height: 0;
		padding-bottom: 100%;
		position: relative;
	}
	&_preview {
		display: table;
		height: 100%;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	&_previewText {
		display: table-cell;
		vertical-align: middle;
	}
	&_button {
		display: block;
		padding: 4vw;
		width: 100%;

		&:active {
			opacity: 0.8;
		}
	}
}
