@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700|Roboto:100,300,400,700');

html {
	// Provided by theme
	background-color: black;
	color: white;

	font-family: $font-family-mono;
	font-size: 16px;
	transition: $page-background-transition;
}

* {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
