@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700|Roboto:100,300,400,700');

html {
	font-family: $font-family-mono;
	font-size: 16px;
	transition: $page-background-transition;
	touch-action: manipulation;
}

html, body {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

* {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
