html, body {
	margin: 0;
	padding: 0;
}
button {
	-webkit-tap-highlight-color: transparent;
	appearance: none;
	background-color: transparent;
	border-width: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	margin: 0;
	outline: none;
	padding: 0;
}
