$font-family-sans: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

$z-index-app-bar: 1;
$z-index-tab: 2;

$calc-button-grid-spacing: 2px;

$common-app-bar-height: 10vh;
$common-tab-item-height: 10vh;
