$font-family-sans: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

$z-index-tab: 1;
$z-index-app-bar: 2;

$calc-button-grid-spacing: 2px;

$page-background-transition: background-color 0.3s ease-out;

$common-app-bar-height: 4rem;
$common-checkbox-field-box-size: 2rem;
$common-checkbox-field-checked-spacing: 0.2rem;
$common-tab-item-height: 4rem;
